body {
  margin: 0;
  opacity: 0 !important;
  font-family: Arial, sans-serif;
}

.rounded-navbar {
  opacity: 0.2;
  border-radius: 0.5rem;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
